[phases.setup]
nixPkgs = ["python311", "nodejs_20"]

[phases.install]
cmds = [
  "python3 -m ensurepip --upgrade || true",
  "python3 -m pip install --upgrade pip",
  "python3 -m pip install -r requirements.txt",
  "cd client && npm install"
]

[phases.build]
cmds = ["cd client && npm run build"]

[start]
cmd = "cd server && gunicorn -w 4 -b 0.0.0.0:$PORT main:app"
