[phases.setup]
nixPkgs = ["python311", "nodejs_20", "python311Packages.pip"]

[phases.install]
cmds = [
  "python -m pip install -r requirements.txt",
  "cd client && npm install"
]

[phases.build]
cmds = ["cd client && npm run build"]

[start]
cmd = "cd server && python -m gunicorn -w 4 -b 0.0.0.0:$PORT main:app"
